# Ignorar la carpeta que contiene plugins y otros archivos generados por Terraform
/.terraform/

# Ignorar el archivo de bloqueo generado automáticamente por Terraform (contiene las versiones de los proveedores)
.terraform.lock.hcl

# Ignorar archivos de estado de Terraform, que contienen la infraestructura actual y pueden tener información sensible
terraform.tfstate
terraform.tfstate.backup

# Ignorar archivos de planes generados por 'terraform plan'
*.tfplan

# Ignorar archivos de override (opcional)
*_override.tf
*_override.tf.json

# Ignorar archivos de configuración personales locales (opcional)
.crc

# Archivos de logs y crash logs
crash.log
*.log

# Archivos de salida o credenciales creados manualmente
*.tfvars
*.tfvars.json

# Archivos de la extensión de VSCode o cualquier entorno de desarrollo
.vscode/

# Ignorar credenciales sensibles (si las manejas en archivos JSON)
*.auto.tfvars.json

